body {
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 1s opacity;
    font-family: "Times New Roman", Times, serif;
}
    body.fade-out {
        opacity: 0;
        transition: none;
    }
#body2 {
    display: none;
    font-size: 2vw;
    overflow: hidden;
    width: 100%;
    background-color: #303030;
}



#headerBox {
    background-color: lightblue;
    overflow: auto;
    padding: 15px 15px;
}

.headerItems {
    background-color: aquamarine;
    width: 20%;
    float: left;
    padding: 15px 0px;
    margin: 0px 6.66666%;
    text-align: center;
    font-size: 2vw;
    border-radius: 25px;
}
a {
    color: black;
    text-decoration: none;
}


#introduction {

    position: absolute;
    height: auto;
    background-color: lightslategray;
    border-radius: 2vw;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center;
    width: 60%;
}
#introduction1 {
    margin-top: 2vw;
    font-size: 3vw;
    margin-bottom: 2vw;
}
#introduction2 {
    font-size: 2vw;
    margin: auto;
    margin-bottom: 2vw;
}
.projectItem {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 95%;
    background-color: gray;
    font-size: 2vw;
    
}
#engineeringProjects {
    width: 50%;
    float: left;
    
    padding-top:1vw;
}
#programmingProjects {
    width: 50%;
    float: left;
    
    padding-top: 1vw;
}
.grayBackground {
    overflow: hidden;
    width: 100%;
    background-color: #303030;
}
#fadeToBlack1 {
    position: absolute;
    background-color: black;
}
.items {
    margin: auto;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    background-color: #c4c4c4;
    border-radius: 10px;
    width: 98%;
    margin-bottom: 2%;
    padding-bottom: 1vw;
}
.image{
    width: 100%;
    background-repeat: round;
}
#androidImage {
    width: 50%;
}
#currentLifeImage {
    width: 20%;
    background-color: red;
}
.bulletItem {
    padding-left: 1em;
    font-size: 80%;
    padding-right: 1em;
}
.bigBulletItem {
    font-size: 130%;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.mediumBulletItem {
    font-size: 115%;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.aboutMeText {
    width: 70%;
    float: left;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2.5%;
    font-size: 80%;
    background-color: #c4c4c4;
    border-radius: 10px;
}
.aboutMeSpace {
    width: 27.5%;
    float: left;
}
.aboutMeImage {
    margin: auto;
    width: 80%;
}
.aboutMeSection {
    margin-top: 1%;
    overflow: auto;
}


.imgTest {
    width: 200px;
    float: left;
    padding: 10px;
}
.divTest {
    background-color:aqua;
    overflow: auto;
}

input[type="text"]textarea {
    width: 20%;
}
