html, body {
    margin: 0;
    padding: 0;
}
#headerBox {
    background-color: lightblue;
    overflow: auto;
    padding: 15px 15px;

}
.headerItems {
    background-color:aquamarine;
    width: 20%;
    float: left;
    padding: 15px 0px;
    margin: 0px 6.66666%;
    text-align: center;
    font-size: 2vw;
}